body {
  margin: 0;
  background-color: #0f0f0f;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #ffffff;
  width: 380px;
  padding: 40px 35px;
  border-radius: 12px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #000;
}

.login-logo {
  width: 120px;
  margin-bottom: 20px;
}


.login-container form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-container label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.login-container input {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.2s ease;
}

.login-container input:focus {
  outline: none;
  border-color: #000;
}

.login-container button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #00AEEF;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-container button:hover {
  background-color: #0095cc;
}

.login-container p {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.login-container a {
  color: #00AEEF;
  font-weight: 600;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}

.error {
  color: red;
}